= form_for(@contact) do |f|
  - if @contact.errors.any?
    #error_explanation
      %h4
        = pluralize(@contact.errors.count, "error")
        ocurrieron:
      %ul
        - @contact.errors.full_messages.each do |msg|
          = msg

  .field
    = f.label :name, "Nombre:"
    = f.text_field :name

  .field
    = f.label :last_name, "Apellidos:"
    = f.text_field :last_name

  .field
    = f.label :phone, "Teléfono:"
    = f.text_field :phone

  .actions
    - if @contact.id != nil
      = f.submit "Editar Contacto", "id" => "btnSubmit"
    - else 
      = f.submit "Crear Contacto", "id" => "btnSubmit"